/* #region Standart styles */

/* Скидання/обнулення усіх стилів */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: none;
  /* max-width: 100%; */
}

h1 h2 h3 h4 h5 h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  font-family: Manrope;
  font-family: Arial, Helvetica, sans-serif;
}
/* =========================== */
h1 {
  font-size: 30px;
  margin: 0 0 30px 0;
}
.wrapper {
  min-height: 100%;
  padding: 50px;
  /* overflow: hidden; - щоб не зявлявся горизонтальний скрол */
  /* overflow: hidden;
  display: flex; */
  /* щоб притискати футер до низу сторінки */
  /* flex-direction: column; */
}
/* =========================== */
.form_margin {
  margin: 0 0 30px 0;
}
.form__item {
  margin: 0 0 30px 0;
}
.form__label {
  margin: 0 0 10px 0;
}
.form__btn {
  height: 50px;
  background-color: #77608d;
  padding: 0 30px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
/* #endregion Standart styles */
/* ============================= */

/* #region Simple rating*/
.simple-rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
}
.simple-rating::before {
  content: "★★★★★";
  display: block;
}
.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #fff;
}
.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #ffd300;
}
.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}
/* #endregion Simple rating*/
/* ============================= */

/* #region Exact rating JS */
.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}
.rating.rating_sending {
  opacity: 0.2;
}
.rating__body {
  position: relative;
}
.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}
.rating__body::before {
  content: "★★★★★";
  display: block;
}
.rating__active {
  position: absolute;
  /* керування шириною заповнення цього об'єкуту будемо за допомогою width*/
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  color: #ffd300;
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0 0 0 10px;
}
/* #endregion Exact rating JS */
